{% extends 'base.html.twig' %}

{% block title %}Création d'un nouvel acteur{% endblock %}

{% block body %}
    <h1>Création d'un nouvel acteur</h1>

    {{ form_start(form) }}
    {{ form_row(form.name) }}
    <button type="submit">Créer</button>

    {{ form_end(form) }}
{% endblock %}