@import "~bootstrap/scss/bootstrap";

body {
    background-color: rgba(239, 239, 239, 0.94);
}

.navbar {
    background-color: #0a0a0a !important;
}

.nav-link {
    color:  rgba(239, 239, 239, 0.94) !important;
}