@import "~bootstrap/scss/bootstrap";

body {
    background-color: rgba(239, 239, 239, 0.94);
    font-family: Pacifico;
}

.navbar {
    background-color: #0a0a0a !important;
}

.nav-link {
    color:  rgba(239, 239, 239, 0.94) !important;
}

h1, h2{
    text-align: center;
}

.container_serie_global {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around !important;
}

.container_serie {
    width: 40%;
    margin: 5px;
    background-color: #D47FFC;
    margin-bottom: 15px;
    text-align: center; /* Ajout de cette ligne pour centrer horizontalement le contenu */
}

.image_serie {
    width: 200px;
    height: auto;
}

.liste-serie {
    margin: auto;
    text-align: center;
    list-style-type: none;
}

.image_acteur {
    width: 100px !important;
    height: auto !important;
}